version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: quote-bot
    volumes:
      - ./data:/data
    restart: always
    networks:
      - application-network

networks:
  application-network:
    external: true
